MONNIFY_API_KEY=MK_PROD_7N8LKYV3HH
MONNIFY_SECRET=QE4MRPCHQ88YFTJZDZB1XM4VE1Q1FGVW
MONNIFY_CONTRACT=812707482956
FIREBASE_PROJECT_ID=voicegen-11174
FIREBASE_CLIENT_EMAIL=your-service-account@voicegen-11174.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
PORT=3000
